.header {
    background-image: url("https://aos.iacpublishinglabs.com/question/aq/1400px-788px/swimming-tone-up-stomach_4c054e093d13a00b.jpg?domain=cx.aos.ask.com");
    height: 400px;
    /* background-position: center center; */
    background-position:top;
}

h1 {
    color: #FFF;
    font-family: 'Ruda', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    padding-top: 120px;
    text-align: center;
}

*{
    border: 1px solid rgba(255,0,0,0.3);
}